.DS_Store
node_modules
build/**/*.*
!build/core/package.json
!build/bundle/package.json
!build/react/package.json
!build/svelte/package.json
!build/package.json
custom
*.log

.versions
.idea
dist/demo


cypress/screenshots

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
